<div class="register-box">
	<img class="logo" src="../../../assets/images/logo-text.png" alt="" />
	<!-- <form> -->
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" />
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" />
	</div>
	<div class="form-group">
		<label for="username">User Name</label>
		<input type="text" id="username" name="username" />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</div>
	<div class="submit">
		<button class="btn btn-primary" type="submit">Register</button>
	</div>
	<!-- </form> -->
</div>
